<h1>Restaurants#edit</h1>

<%= form_for @restaurant do |r| %>
  <% if @restaurant.errors.any? %>
  <ul>
    <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <p>
    <%= r.label :name %><br>
    <%= r.text_field :name %>
  </p>

  <p>
    <%= r.label :description %><br>
    <%= r.text_field :description %>
  </p>

  <p>
    <%= r.label :address %><br>
    <%= r.text_field :address %>
  </p>

  <p>
    <%= r.label :phone %><br>
    <%= r.text_field :phone %>
  </p>

  <p>
    <%= r.submit %>
  </p>

<% end %>

<%= link_to 'Back', restaurants_path %>
