<h1>Reservester#index</h1>

<%= link_to 'New Restaurant', new_restaurant_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>

  <% @restaurants.each do |r| %>
  <tr>
    <td><%= r.name %></td>
    <td><%= r.description %></td>
    <td><%= r.address %></td>
    <td><%= r.phone %></td>
    <td><%= link_to 'Show', restaurant_path(r) %></td>
    
    <% if r.owner == current_owner %>
      <td><%= link_to 'Edit', edit_restaurant_path(r) %></td>
      <td><%= link_to 'Destroy', restaurant_path(r), method: :delete %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>

<% if owner_signed_in? %>
  <li>Currently signed in as <%= link_to current_owner.email, edit_owner_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_owner_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to 'Sign in', new_owner_session_path %></li>
  <li><%= link_to 'Sign up', new_owner_registration_path %></li>
<% end %>
